<%= simple_form_for(@product) do |f| %>
  <%= f.input :image, as: :file, :label => "Imagem" %>
  <%= f.input :name, :label => "Nome:", :input_html => {:style=> 'width: 500px'} %>
  <%= f.input :category, :label => "Categoria:", :input_html => {:style=> 'width: 500px'} %>
  <%= f.input :description, :label => "Descrição:", :input_html => {:style=> 'width: 500px'} %>
  <%= f.input :price, :label => "Preço:", :input_html => {:style=> 'width: 500px'} %>
  <button class="button"><%= f.button :submit, "Enviar" %></button>
<% end %>

