<h1>GoVintage</h1>
<p>Compra e Venda de móveis e decoração com estilo vintage e previamente adorados por seus donos. </p>

<!-- [...] -->
<%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "ex: Cadeira"
  %>
  <%= submit_tag "Busca", class: "btn btn-primary" %>
<% end %>
<!-- the list of products -->

<% @products.each do |product| %>
  <ul>
    <li><%= cl_image_tag product.image.key, height: 300, width: 400, crop: :fill %></li>
    <li><%= link_to product.name,  product_path(product) %></li>
    <li>R$ <%= product.price %></li>
    <li>Vendida por <%= product.user.name %></li>
  </ul>

  </div>
<% end %>



