

<div class="banner">
  <h1>GoVintage</h1>
  <p>Compra e Venda de móveis e decoração com estilo vintage e previamente adorados por seus donos. </p>
</div>
<div class="grid-container">
  <% @products.each do |product| %>
    <div class="grid-item">
      <div class="card">
      <div class="card-image">
        <li><%= cl_image_tag product.image.key, height: 300, width: 400, crop: :fill %></li>
        <li><%= link_to product.name,  product_path(product) %></li>
      </div>
      <div class="card-text">
          <p><%= link_to product.name,  product_path(product) %></p>
          <p>R$ <%= product.price %>0</p>
          <%# <p>Vendida por <%= product.user.name %>
          
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


